body{
    background: rgb(199,99,99);
    background: radial-gradient(circle, rgba(199,99,99,1) 0%, rgba(166,0,255,0.9724264705882353) 100%);
}
.video-container {
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video1 {
    width: 426px;
    height: 240px;
    padding: 1px;
    position: relative;
    box-shadow: 0 0 30px rgba(58, 1, 1, 0.966);
    background-color: rgba(235, 235, 235, 0);
}

#video1::-webkit-media-controls-panel {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#video1::-webkit-media-controls-play-button,
#video1::-webkit-media-controls-pause-button,
#video1::-webkit-media-controls-fullscreen-button {
    display: inline;
}

