
#showIframeButton {
  background-color: #edf3f5; 
  color: #333; /* Dark text color 
  border: 1px solid #ff69b4; 
  padding: 10px 20px; 
  cursor: pointer;
  font-size: 16px; 
  border-radius: 5px; 
  box-shadow: 0 0 10px rgba(255, 105, 180, 0.5); 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

#showIframeButton:hover {
  background-color: #ff69b4; 
  color: #ffffff;
  box-shadow: 0 0 20px rgba(255, 105, 180, 0.8); 
}
