.custom-pre {
    font-size: 15px; /* Set font size to 15 pixels */
    color: #8A2BE2; /* Set text color */
    font-family: Arial, sans-serif; /* Set font family to Arial */
    font-weight: bold; /* Set font weight to bold */
}

