.custom-pre {
    font-size: 15px;
    font-family: Arial, sans-serif; /* Set font family to Arial */
    cursor: pointer; /* Change cursor to pointer on hover */
    color: black; 
}

.custom-pre:hover {
    font-size: 18px; /* Increase font size on hover */
    color: black; /* Change text color to black on hover */
}
